<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<html lang="en">
<head>
    <title>== Private Account ==</title>
    <link rel="stylesheet" type="text/css" href="plugins/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="plugins/easyui/themes/icon.css">
    <script type="text/javascript" src="plugins/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="plugins/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="plugins/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="plugins/easyui/plugins/jquery.layout.js"></script>
    <script type="text/javascript" src="plugins/easyui/plugins/jquery.panel.js"></script>
    <script type="text/javascript" src="plugins/easyui/plugins/jquery.tabs.js"></script>
    <script type="text/javascript" src="scripts/app-plugin.js"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',href:'north.html'" style="height:85px;"></div>
<div data-options="region:'center',border:false">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="title:'Navigator',region:'west',width:200,split:true,href:'menu.html'"></div>
        <div data-options="region:'center',href:'navigation.html'"></div>
    </div>
</div>
</body>
</html>
