<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>== Private Account Login ==</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="plugins/login/css/style.css">
    <link rel="stylesheet" type="text/css" href="plugins/login/css/reset.css"/>
</head>
<body>

<div id="particles-js">
    <div class="login">
        <div class="login-top">
            <div class="brand">
                <div class="brand-title">Private Account</div>
                <div class="brand-subtitle">Personal Ledger</div>
            </div>
        </div>
        <form id="login-form" class="form-signin" method="post" action="/authentication/form">
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="plugins/login/img/name.png"/></div>
                <div class="login-center-input">
                    <input type="text" id="username" name="username" value="" placeholder="Please enter your username" onfocus="this.placeholder=''"
                           onblur="this.placeholder='Please enter your username'"/>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="plugins/login/img/password.png"/></div>
                <div class="login-center-input">
                    <input type="password" id="password" name="password" value="" placeholder="Please enter your password" onfocus="this.placeholder=''"
                           onblur="this.placeholder='Please enter your password'"/>
                    <span class="toggle-password" onclick="togglePassword()">Show</span>
                </div>
            </div>
        </form>
        <div class="login-button" onclick="submitForm()">
            Sign In
        </div>
    </div>
    <div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src="plugins/login/js/particles.min.js"></script>
<script src="plugins/login/js/app.js"></script>
<script type="text/javascript">
	function hasClass(elem, cls) {
	  cls = cls || '';
	  if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
	  return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
	}

	function addClass(ele, cls) {
	  if (!hasClass(ele, cls)) {
	    ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
	  }
	}

	function removeClass(ele, cls) {
	  if (hasClass(ele, cls)) {
	    var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
	    while (newClass.indexOf(' ' + cls + ' ') >= 0) {
	      newClass = newClass.replace(' ' + cls + ' ', ' ');
	    }
	    ele.className = newClass.replace(/^\s+|\s+$/g, '');
	  }
	}

    function submitForm(){
        document.getElementById("login-form").submit()
    }

    function togglePassword(){
        var p = document.getElementById('password');
        var t = document.querySelector('.toggle-password');
        if(p.type === 'password'){
            p.type = 'text';
            t.innerText = 'Hide';
        }else{
            p.type = 'password';
            t.innerText = 'Show';
        }
    }

</script>
</body>
</html>
