<div class="easyui-accordion" data-options="fit:true,border:false">
    <style>
        .menuspace { height: 8px; }
        .menu-link { display: block; width: 92%; margin: 0 auto; text-align: left; }
        .menu-link .l-btn-text { font-size: 13px; }
    </style>
  <div title="Transactions" data-options="iconCls:'icon-large-chart'" style="overflow:auto;">
   	   <div class="menuspace"></div>
   	   <div style="width: 100%;text-align: center;">
         	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-search'"
         	onclick="selectTab(this)" title="Transactions - Detail" url="account/credit/credit_bill.html" >Detail</a>
     </div>
       <div class="menuspace"></div>
   	   <div style="width: 100%;text-align: center;">
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-redo'"
        	onclick="selectTab(this)" title="Import" url="account/credit/creidt_upload.html" >Import</a>
      </div>
      <div class="menuspace"></div>
      <div style="width: 100%;text-align: center;"> 
           	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-filter'"
           	onclick="selectTab(this)" title="Category Rules" url="system/admin/consume_rules.html" >Category Rules</a>
      </div>
      <div class="menuspace"></div>
      <div style="width: 100%;text-align: center;"> 
            <a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-large-smartart'"
            onclick="selectTab(this)" title="Bank Cards" url="system/admin/cards.html" >Bank Cards</a>
      </div>
      <div class="menuspace"></div>
      <div style="width: 100%;text-align: center;"> 
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-large-smartart'"
        	onclick="selectTab(this)" title="Category Types" url="system/admin/consume_categories.html" >Category Types</a>
      </div>
   </div>
  <div title="Reports" data-options="iconCls:'icon-large-chart'" style="overflow:auto;">
       <div class="menuspace"></div>
       <div style="width: 100%;text-align: center;"> 
           <a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-large-chart'"
              onclick="selectTab(this)" title="Transaction Trend" url="account/credit/report/consume_line_report.html" >Transaction Trend</a>
       </div>
       <div class="menuspace"></div>
       <div style="width: 100%;text-align: center;"> 
           <a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-large-smartart'"
              onclick="selectTab(this)" title="Category Breakdown" url="account/credit/report/consume_pie_report.html" >Category Breakdown</a>
       </div>
       <div class="menuspace"></div>
       <div style="width: 100%;text-align: center;">
           <a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-tip'"
              onclick="selectTab(this)" title="Weekly Summary" url="account/credit/report/week_consume_report.html" >Weekly Summary</a>
       </div>
       <div class="menuspace"></div>
       <div style="width: 100%;text-align: center;">
           <a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-sum'"
              onclick="selectTab(this)" title="Monthly Summary" url="account/credit/report/month_consume_report.html" >Monthly Summary</a>
       </div>
   </div>
  <div title="Payroll" data-options="iconCls:'icon-man'" style="overflow:auto;">
    	   <div class="menuspace"></div>
    	   <div style="width: 100%;text-align: center;">
        		<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-search'"
        		onclick="selectTab(this)" title="Payroll - Ledger" url="/account/salary" >Ledger</a>  
      </div>
   </div>
   <div title="Rent" data-options="iconCls:'icon-large-picture'" style="overflow:auto;">
    	   <div class="menuspace"></div>
    	   <div style="width: 100%;text-align: center;">
        		<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-search'"
        		onclick="selectTab(this)" title="Rent - Ledger" url="/account/house-rent" >Ledger</a>  
      </div>
   </div>
   <div title="Pension" data-options="iconCls:'icon-large-smartart'" style="overflow:auto;" >
    	   <div class="menuspace"></div>
    	   <div style="width: 100%;text-align: center;">
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-search'"
        	onclick="selectTab(this)" title="Pension - Ledger" url="/account/endowment" >Ledger</a>
      </div>
      <div style="width: 100%;text-align: center;">
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-sum'"
        	onclick="selectTab(this)" title="Employer Summary" url="/account/endowment" >Employer Summary</a>
      </div>
      <div style="width: 100%;text-align: center;">
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-print'"
        	onclick="selectTab(this)" title="Annual Summary" url="/account/endowment" >Annual Summary</a>
      </div>
   </div>
   <div title="Provident Fund" data-options="iconCls:'icon-large-clipart'" style="overflow:auto;" >
    	   <div class="menuspace"></div>
    	   <div style="width: 100%;text-align: center;">
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-search'"
        	onclick="selectTab(this)" title="Provident - Ledger" url="/account/accumulation" >Ledger</a>
      </div>
   </div>
   <div title="Medical" data-options="iconCls:'icon-help'" style="overflow:auto;" >
    	   <div class="menuspace"></div>
    	   <div style="width: 100%;text-align: center;">
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-search'"
        	onclick="selectTab(this)" title="Medical - Ledger" url="/account/medical" >Ledger</a>
      </div>
   </div>
   <div title="Unemployment" data-options="iconCls:'icon-lock'" style="overflow:auto;" >
    	   <div class="menuspace"></div>
    	   <div style="width: 100%;text-align: center;">
        	<a href="#" class="easyui-linkbutton menu-link" data-options="iconCls:'icon-search'"
        	onclick="selectTab(this)" title="Unemployment - Ledger" url="/account/unemployment" >Ledger</a>
      </div>
   </div>
</div>
<script type="text/javascript">
	/** 选择面板  */
	function selectTab(obj){
		var title = $(obj).attr("title");
		var url = $(obj).attr("url");
		initPanel(title,url);
	}
</script>
